@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
    color: #0071dc;
    text-align: center;
    background-color: #ffc220;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: #0071dc;
    text-align: center;
    background-color: #ffc220;
    max-width: 700px;
    
}

.contenedorCards {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
    min-width: 200px;
    color: #0071dc;
    background-color: #ffc220;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
select::placeholder {
    color: #aaa;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0071dc;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0071dc;
}
